* {
  margin: 0;
  padding: 0;
}

.main {
  width: 1000px;
  height: 500px;
  margin: auto;
  text-align: center;
  padding-top: 300px;
  background: #f5f5f5;
}

.btn1 {
  background: red;
  color: white;
  margin: 20px;
}

.btn-danger {
  font-family: Tahoma;
}